tags.*
fish/.config/fish/fishd.*
neovim/.config/nvim/spell/
konsole/.config/konsolerc
konsole/.local/share/konsole/bookmarks.xml*
emacs/.emacs.d/*
!emacs/.emacs.d/init.el
!emacs/.emacs.d/local/*
*.log
neovim/.config/nvim/pack
kakoune/.config/kak/*
bspwm/.config/bspwm/autostart
neovim/.config/nvim/autoload/plugpac.vim
vscode/.config/Code - OSS/*
