loc_name=Ithaca, New York
lat=42.407200
lon=-76.515900
msl=301
timezone=America/New_York
cache_file_max_age=172800
power_saving=true
units_temperature=0
units_pressure=2
units_windspeed=1
units_precipitation=1
units_altitude=1
model_apparent_temperature=0
round=true
single_row=true
tooltip_style=1
forecast_layout=1
forecast_days=5
scrollbox_animate=true
theme_dir=/usr/share/xfce4/weather/icons/liquid-dark
show_scrollbox=true
scrollbox_lines=1
scrollbox_color=#000000000000
scrollbox_use_color=false
label0=3
label1=7
label2=5

